body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #ebebeb;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding-top: 0.5rem !important;
    padding-left: 0 !important;
}

.card-text {
    font-weight: 500 !important;
}

.listing-links {
    text-decoration: none;

}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: 0.2;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 30vh;
}

.edit-img {
    height: 20vh !important;
    width: 30vh !important;
}

.btns {
    display: flex;
}

#map {
    height: 400px;
    width: 80vh;
}

#filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.8rem;
    opacity: 0.6;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.9rem;
    margin-top: 5px;
}
.filter img{
    width:  1.3rem;
    height: 1.3rem;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.search-btn{
    background-color: #fe424d !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem 0 !important;
}
.search-btn i{
    display: inline;
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
}